## Data 604 Working With Data at a Scale
**Individual Milestone**

Tasheika Wilson 

30251787

The topic being explored in this project primarily surrounds world hunger. Particularly, What are the factors Influencing World Hunger?‚Äù 
This topic is of interest as hunger continues to be a critical global challenge, affecting millions of people and intersecting with other significant issues, such as poverty, climate change, and economic instability.
The dataset being explored in this individual milestone is the Economic Indicator Dataset. 
Exploring economic indicators is important in understanding the complexities of world hunger, as these metrics provide insights into the underlying factors that contribute to food insecurity. 
Economic indicators such as GDP, GNI per capita, and household consumption expenditure highlight a nation's overall wealth and the distribution of resources among its population.

The dataset was sourced from Kaggle and can be found using the link: [Economic Indicators](https://www.kaggle.com/datasets/prasad22/global-economy-indicators) Futher links to understanding the variables in the dataset can be found in the UN links in the reference.

In [49]:
import pandas as pd
import sqlalchemy as sq

## Connecting to the Database

In [50]:
engine = sq.create_engine('mysql+mysqlconnector://student:N87oe3DxPWfAs@localhost/student')

inspector =sq.inspect(engine)
tables=inspector.get_table_names()
print(tables)

['car_emissions', 'economy_indicators', 'economy_indicators_cleaned.csv', 'library_locations', 'licensed_pets', 'secondary_suites']

## Data Cleaning

In [51]:
df = pd.read_csv("economy_indicators.csv")
df.head()
df.isnull().sum()

CountryID                                          0
Country                                            0
Year                                               0
AMAexchangerate                                    0
IMFbasedexchangerate                               0
Population                                         0
Currency                                           0
PercapitaGNI                                       0
ISICA_B                                          121
Changesininventories                            1841
ISICF                                              0
Exportsofgoodsandservices                         21
Finalconsumptionexpenditure                        0
Generalgovernmentfinalconsumptionexpenditure      52
Grosscapitalformation                             52
Grossfixedcapitalformation                        52
Householdconsumptionexpenditure                   52
Importsofgoodsandservices                         42
ISICD                                             43
ISICC_E                                            0
ISICJ_P                                            0
TotalValueAdded                                    0
ISICI                                             49
ISICG_H                                           49
GNI                                                0
GDP                                                0
dtype: int64

Based on the output above, Null values needed to be handled to create a clean dataset. 
To begin with, the column "Changesininventories" will be dropped as it is not important to the analysis being conducted. 
The column "Generalgovernmentfinalconsumptionexpenditure" will be dropped as it is a subset of Final Consumption Expenditure that focuses only on the consumption activities of the government.

In [52]:
df.drop(['Generalgovernmentfinalconsumptionexpenditure','Changesininventories'],axis='columns', inplace=True)
df2=df.fillna(0)
df2=df2.isnull().sum()
df2

CountryID                          0
Country                            0
Year                               0
AMAexchangerate                    0
IMFbasedexchangerate               0
Population                         0
Currency                           0
PercapitaGNI                       0
ISICA_B                            0
ISICF                              0
Exportsofgoodsandservices          0
Finalconsumptionexpenditure        0
Grosscapitalformation              0
Grossfixedcapitalformation         0
Householdconsumptionexpenditure    0
Importsofgoodsandservices          0
ISICD                              0
ISICC_E                            0
ISICJ_P                            0
TotalValueAdded                    0
ISICI                              0
ISICG_H                            0
GNI                                0
GDP                                0
dtype: int64

In [53]:
df2.to_csv('economy_indicators_cleaned.csv', index=False)

## Inserting Data into the Database

In [54]:
df.to_sql("economy_indicators_cleaned.csv", engine, index=False,if_exists='replace')
economy_indicators_df = pd.read_sql_table("economy_indicators", engine)
economy_indicators_df.head()

,CountryID,Country,Year,AMAexchangerate,IMFbasedexchangerate,Population,Currency,PercapitaGNI,ISICA_B,ISICF,...,Householdconsumptionexpenditure,Importsofgoodsandservices,ISICD,ISICC_E,ISICJ_P,TotalValueAdded,ISICI,ISICG_H,GNI,GDP
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,46793902.0,...,1.551094e+09,195277226.0,370146827.0,376690811.0,127747843.0,1.731454e+09,83917200.0,226387091.0,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,48994113.0,...,1.675426e+09,276296480.0,387549502.0,394401164.0,133754097.0,1.812857e+09,87860382.0,237019196.0,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,44535223.0,...,1.498812e+09,290370350.0,352284669.0,358512865.0,121582672.0,1.647918e+09,79864525.0,215477287.0,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,46018542.0,...,1.508024e+09,262962880.0,364010279.0,370445793.0,125630236.0,1.702735e+09,82528885.0,222624293.0,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,55721659.0,...,1.778819e+09,305679151.0,440760406.0,448552790.0,152119162.0,2.061752e+09,99918604.0,269525910.0,2.106420e+09,2.061729e+09

## **Investigating the Data**

### Assessing Trends in GPD Per Capita

GDP is the total market value of all final goods and services produced within a country in a given period (typically a year). Assessing the GDP per capita will allow for the 
assessment of the Counties Economic growth. 
A growing GDP typically signifies a robust economy, which can create the resources needed for a country to invest in improving food security. When GDP grows, 
the government has more revenue to allocate towards food programs, agricultural subsidies, infrastructure (such as transportation and storage for food), and public services that help combat hunger. Thus making it an important factor in hunger index assessments. Note(All Countries' GDP is expressed in USD).

This query was chosen as GDP is an important indicator into the economic health of a country. And also Higher GDP usually indicates a healthy economy and lower hunger rates. Having this query, the team will be able to narrow down the dataset by looking at the top and bottom GDP countries for a comparative analysis.

In [55]:
query1=f"""SELECT Year,Country, Population,GDP,
          round(AVG(GDP/population),2) AS Average_GDP_Per_Capita
          FROM economy_indicators
          GROUP BY Country,Year
          ORDER BY Year, Average_GDP_Per_Capita DESC
          ;"""
print("The Trend in GDP per capita :")
query_table1 = pd.read_sql_query(query1, engine)
query_table1

The Trend in GDP per capita :

       Year        Country  Population           GDP  Average_GDP_Per_Capita
0      1970         Monaco       24270  2.841145e+08                11706.41
1      1970  United States   200328340  1.070000e+12                 5341.23
2      1970  Liechtenstein       21089  1.106179e+08                 5245.29
3      1970        Bermuda       52019  2.655361e+08                 5104.60
4      1970        Andorra       19860  9.947679e+07                 5008.90
...     ...            ...         ...           ...                     ...
10507  2021        Somalia    17065581  7.628276e+09                  447.00
10508  2021    South Sudan    10748272  4.304069e+09                  400.44
10509  2021    Afghanistan    40099462  1.493901e+10                  372.55
10510  2021        Burundi    12551213  3.899748e+09                  310.71
10511  2021          Yemen    32981641  9.946815e+09                  301.59

[10512 rows x 5 columns]

Looking on a general scale, we can see which counties rank highest and lowest regarding GPD per capita. This can help to narrow down the combined dataset and help to focus properly on assessing the guiding questions. Will higher GDP per capita countries have lower hunger index rates? Once the combination of datasets is done, the conclusion can be made.

In [56]:
query1_a=f"""SELECT Country, 
          round(AVG(GDP / Population),2) AS Average_GDP_Per_Capita
          FROM economy_indicators
          GROUP BY Country
          ORDER BY Average_GDP_Per_Capita DESC
          limit 10;"""

query1_b=f"""SELECT Country, 
          round(AVG(GDP / Population),2) AS Average_GDP_Per_Capita
          FROM economy_indicators
          GROUP BY Country
          ORDER BY Average_GDP_Per_Capita 
          limit 10;"""

print("The top 10 countries with the Highest avgerage GPD per capita:")
query_table1_a = pd.read_sql_query(query1_a, engine)
query_table1_a

The top 10 countries with the Highest avgerage GPD per capita:

          Country  Average_GDP_Per_Capita
0          Monaco                98753.73
1   Liechtenstein                84729.64
2      Luxembourg                55564.06
3         Bermuda                54676.88
4  Cayman Islands                50873.03
5     Switzerland                45048.11
6          Norway                43036.99
7      San Marino                37246.26
8           Qatar                35380.71
9         Denmark                33186.79

In [57]:
print("The top 10 countries with the lowest avgerage GPD per capita:")
query_table1_b = pd.read_sql_query(query1_b, engine)
query_table1_b

The top 10 countries with the lowest avgerage GPD per capita:

                        Country  Average_GDP_Per_Capita
0     Yemen Democratic (Former)                  150.48
1             Ethiopia (Former)                  166.03
2                       Burundi                  185.54
3  Yemen Arab Republic (Former)                  204.44
4                       Somalia                  244.73
5                   Afghanistan                  311.52
6                        Malawi                  331.90
7                      Ethiopia                  333.84
8                  Sierra Leone                  340.70
9                    Madagascar                  345.62

### Population Growth and Agricultural GDP Contributions

The Variable ISICA_B represents  Agriculture, hunting, forestry,fishing (ISIC A-B). ISIC A-B is a combined classification that groups industries engaged in the extraction of natural resources, focusing specifically on the production of food, fiber, and other raw materials. By measuring ISIC A-B activities, how well a country is managing its natural resources to support its population's food and economic needs can be assessed.
This query will help in understanding the economic and agricultural dynamics that contribute to food security and hunger. It will give insight into how population growth and agricultural output relative to GDP changes over time for each country. If agricultural output((ISIC A-B) is stagnant or growing slowly while the population increases, it could lead to a food shortage, which directly impacts hunger. This would be further reflected in the hunger index.

In [58]:
query2=f"""SELECT Country,Year,Population,GDP,ISICA_B,
            LAG(Population) OVER (PARTITION BY Country ORDER BY Year) AS PreviousYearPopulation,
            (Population - LAG(Population) OVER (PARTITION BY Country ORDER BY Year)) / LAG(Population) OVER (PARTITION BY Country ORDER BY Year) * 100 AS PopulationGrowthRate,
            (ISICA_B - LAG(ISICA_B) OVER (PARTITION BY Country ORDER BY Year)) / LAG(ISICA_B) OVER (PARTITION BY Country ORDER BY Year) * 100 AS ISICA_BGrowthRate,
            (ISICA_B / GDP) * 100 AS AgriculturalGDPPercentage
            FROM economy_indicators
            ORDER BY Country, Year;"""

query_table2 = pd.read_sql_query(query2, engine)
query_table2

,Country,Year,Population,GDP,ISICA_B,PreviousYearPopulation,PopulationGrowthRate,ISICA_BGrowthRate,AgriculturalGDPPercentage
0,"China, Hong Kong SAR",1970,3955072,3.812494e+09,3.276999e+07,NaN,NaN,NaN,0.859542
1,"China, Hong Kong SAR",1971,4028605,4.461399e+09,3.837170e+07,3955072.0,1.8592,17.094008,0.860082
2,"China, Hong Kong SAR",1972,4128333,5.710091e+09,4.910500e+07,4028605.0,2.4755,27.971932,0.859969
3,"China, Hong Kong SAR",1973,4234754,8.030118e+09,6.894462e+07,4128333.0,2.5778,40.402442,0.858576
4,"China, Hong Kong SAR",1974,4342773,9.388695e+09,8.090256e+07,4234754.0,2.5508,17.344259,0.861702
...,...,...,...,...,...,...,...,...,...
10507,Zimbabwe,2017,14751101,2.204065e+10,1.597450e+09,14452704.0,2.0646,-1.270101,7.247742
10508,Zimbabwe,2018,15052184,2.364527e+10,1.730686e+09,14751101.0,2.0411,8.340539,7.319375
10509,Zimbabwe,2019,15354608,2.259452e+10,2.218615e+09,15052184.0,2.0092,28.192836,9.819262
10510,Zimbabwe,2020,15669666,2.166475e+10,1.900618e+09,15354608.0,2.0519,-14.333154,8.772859
10511,Zimbabwe,2021,15993524,2.411815e+10,2.134432e+09,15669666.0,2.0668,12.302028,8.849899

### Standard of Living 
Gross National Income (GNI) is the total amount of money earned by a nation's people and businesses. It is used to measure and track a nation's wealth from year to year.
Household final consumption expenditure consists of the expenditure, including imputed expenditure, incurred by resident households on individual consumption goods and services, including those sold at prices that are not economically significant. The query looks into the  Household consumption expenditure per Capita and GNI per capita.
Investigating the Household consumption expenditure per Capita will help to assess the living standards and also understand the economic trend. For example, higher per capita consumption typically indicates better access to goods and services, which correlates with higher living standards and possibly lower levels of hunger. 
Also, if per capita consumption and GNI are falling, it could signal a contraction in economic activity or a decrease in household income, potentially leading to increased poverty or higher hunger index values. Having this query, the connection between standard of living and hunger levels can be investigated and help to uncover if there is an existing relationship between the two.

In [59]:
query3=f"""SELECT Country, Year, 
       PercapitaGNI,
       Householdconsumptionexpenditure,
       Population,
       Householdconsumptionexpenditure / Population AS PerCapitaConsumption
FROM economy_indicators
ORDER BY Country, Year;"""

query_table3 = pd.read_sql_query(query3, engine)
query_table3

,Country,Year,PercapitaGNI,Householdconsumptionexpenditure,Population,PerCapitaConsumption
0,"China, Hong Kong SAR",1970,960,2.525163e+09,3955072,638.461834
1,"China, Hong Kong SAR",1971,1103,2.953476e+09,4028605,733.126281
2,"China, Hong Kong SAR",1972,1375,3.616822e+09,4128333,876.097450
3,"China, Hong Kong SAR",1973,1885,5.268823e+09,4234754,1244.186433
4,"China, Hong Kong SAR",1974,2150,6.121334e+09,4342773,1409.544910
...,...,...,...,...,...,...
10507,Zimbabwe,2017,1436,1.749116e+10,14751101,1185.752926
10508,Zimbabwe,2018,1538,1.837230e+10,15052184,1220.573913
10509,Zimbabwe,2019,1448,1.744797e+10,15354608,1136.334581
10510,Zimbabwe,2020,1352,1.750568e+10,15669666,1117.169781
10511,Zimbabwe,2021,1471,1.810656e+10,15993524,1132.118009

### Trade Balance
The trade balance is a critical indicator of a country's economic health. A positive trade balance (surplus) means the country is exporting more than it is importing, which can strengthen the national economy by bringing in foreign currency and boosting domestic industries.
A negative trade balance (deficit) means the country is spending more on imports than it is earning from exports. This can lead to borrowing or depleting foreign reserves to finance the deficit, which may have implications for the national economy and currency value.
Assessing the Trade Balance will help to understand the Impacts on Food Security and aid in the correlation to the Hunger Index.

In [60]:
query4=f"""SELECT Country, Year, 
       Exportsofgoodsandservices, 
       Importsofgoodsandservices,
       (Exportsofgoodsandservices - Importsofgoodsandservices) AS TradeBalance
FROM economy_indicators
ORDER BY Country, Year;"""

query_table4 = pd.read_sql_query(query4, engine)
query_table4

,Country,Year,Exportsofgoodsandservices,Importsofgoodsandservices,TradeBalance
0,"China, Hong Kong SAR",1970,3.552784e+09,3.259083e+09,2.937003e+08
1,"China, Hong Kong SAR",1971,3.986516e+09,3.799070e+09,1.874453e+08
2,"China, Hong Kong SAR",1972,4.818648e+09,4.365038e+09,4.536095e+08
3,"China, Hong Kong SAR",1973,6.859419e+09,6.352473e+09,5.069465e+08
4,"China, Hong Kong SAR",1974,8.133821e+09,7.683864e+09,4.499578e+08
...,...,...,...,...,...
10507,Zimbabwe,2017,5.434790e+09,6.693807e+09,-1.259017e+09
10508,Zimbabwe,2018,6.186541e+09,6.712015e+09,-5.254744e+08
10509,Zimbabwe,2019,6.137453e+09,5.767050e+09,3.704028e+08
10510,Zimbabwe,2020,5.614855e+09,6.225050e+09,-6.101947e+08
10511,Zimbabwe,2021,6.128771e+09,7.452806e+09,-1.324035e+09

### Sectoral Dominance 

Assessing the individual sector can determine which sector contributes most to the economy every year. It also gives further insights into the economy's structure and how it changes over time.
To understand the grouping, the following break out can be used:

- Agriculture, Hunting, Forestry, and Fishing (ISIC A-B) :  Activities related to the cultivation of crops, raising animals, managing forests, and harvesting fish or other aquatic organisms.
-  Construction (ISIC F) :  Encompasses the construction of buildings, civil engineering projects, and specialized construction activities.
-  Manufacturing (ISIC D) :  Activities involving the transformation of raw materials into finished or intermediate goods through mechanical, chemical, or physical processes.
-  Mining, Manufacturing, and Utilities (ISIC C-E) : Combines mining, manufacturing, and utility sectors for a broader view of industrial activities.
- Transport, Storage, and Communication (ISIC I): Covers the movement of goods and people, storage solutions, and communication infrastructure
-  Wholesale, Retail Trade, Restaurants, and Hotels (ISIC G-H) : Includes the distribution of goods and provision of hospitality services.
- Other Activities (ISIC J-P) : Encompasses service-oriented industries not categorized under primary or secondary sectors
    ISIC J: Financial intermediation (banks, insurance, investment funds).
    ISIC K: Real estate, renting, and business activities (consultancy, R&D).
    ISIC M: Education services (schools, universities).
    ISIC N: Health and social work (hospitals, clinics, social services).
    ISIC O: Recreational, cultural, and sporting activities.
    ISIC P: Public administration and defense services.

Note:(ISIC J-P)  was excluded as it encompasses too many sectors which skewed the data.

For the final project, this query when joined with other data, will investigate how the Hunger Index and other relevant variables correlate with changes in the dominant economic sectors over time. This analysis will provide deeper insights into the relationship between sectoral shifts and hunger levels within a country. Understanding which sector is dominant will help uncover how economic transformations influence hunger levels.

In [61]:
query5=f"""SELECT Country, Year,
       GREATEST(ISICD, ISICC_E,ISICF, ISICI, ISICG_H,ISICA_B) AS DominantSectorValue,
       (Exportsofgoodsandservices - Importsofgoodsandservices) AS TradeBalance,
       CASE 
           WHEN ISICF = GREATEST(ISICD, ISICF,ISICC_E, ISICI, ISICG_H,ISICA_B) THEN 'Construction'
           WHEN ISICA_B = GREATEST(ISICD, ISICC_E, ISICI, ISICG_H,ISICA_B) THEN ' Agriculture, hunting, forestry, fishing'
           WHEN ISICD = GREATEST(ISICD, ISICC_E, ISICI, ISICG_H,ISICA_B) THEN 'Manufacturing'
           WHEN ISICC_E = GREATEST(ISICD, ISICC_E, ISICI, ISICG_H,ISICA_B) THEN 'Mining, Manufacturing, Utilities'
           WHEN ISICI = GREATEST(ISICD, ISICC_E, ISICI, ISICG_H,ISICA_B) THEN ' Transport, storage and communication'
           WHEN ISICG_H = GREATEST(ISICD, ISICC_E, ISICI, ISICG_H,ISICA_B) THEN 'Retail Trade'
       END AS DominantSector
FROM economy_indicators
ORDER BY Country, Year;
"""

query_table5 = pd.read_sql_query(query5, engine)
query_table5

,Country,Year,DominantSectorValue,TradeBalance,DominantSector
0,"China, Hong Kong SAR",1970,7.835024e+08,2.937003e+08,"Mining, Manufacturing, Utilities"
1,"China, Hong Kong SAR",1971,9.169728e+08,1.874453e+08,"Mining, Manufacturing, Utilities"
2,"China, Hong Kong SAR",1972,1.173928e+09,4.536095e+08,"Mining, Manufacturing, Utilities"
3,"China, Hong Kong SAR",1973,1.649421e+09,5.069465e+08,"Mining, Manufacturing, Utilities"
4,"China, Hong Kong SAR",1974,1.930425e+09,4.499578e+08,"Mining, Manufacturing, Utilities"
...,...,...,...,...,...
10507,Zimbabwe,2017,6.637330e+09,-1.259017e+09,"Mining, Manufacturing, Utilities"
10508,Zimbabwe,2018,6.870555e+09,-5.254744e+08,"Mining, Manufacturing, Utilities"
10509,Zimbabwe,2019,6.623454e+09,3.704028e+08,"Mining, Manufacturing, Utilities"
10510,Zimbabwe,2020,6.616034e+09,-6.101947e+08,"Mining, Manufacturing, Utilities"
10511,Zimbabwe,2021,6.371013e+09,-1.324035e+09,Retail Trade

### Conclusion

The queries outlined above will contribute to answering the guiding question:
How have hunger levels changed over time in different countries, and which countries show improvements or declines? If there are improvements or declines, what factors (economic, social, etc.) might affect these changes?
These queries investigate different aspects of the economy across countries, including the dominant economic sectors, trade balance, and sectoral contributions to GDP etc. By analyzing these factors in relation to hunger, a deeper understanding can be gained into how hunger levels are affected. Also, by assessing the trade balance, we can better understand how a country‚Äôs reliance on imports versus exports affects its ability to maintain a stable food supply. Overall, the queries will help identify which economic conditions contribute to either alleviating or exacerbating hunger.

# References
- Balance of Trade and Balance of Payments. (n.d.). Econlib. https://www.econlib.org/library/Topics/HighSchool/BalanceofTradeandBalanceofPayments.html
- Nations, U. (2023). Glossary - amaWebClient. Un.org. https://unstats.un.org/unsd/snaama/Metadata/Glossary#
- The Investopedia Team. (2021, August 31). What Is Gross National Income (GNI)? Investopedia. https://www.investopedia.com/terms/g/gross-national-income-gni.asp
- Nations, U. (2024). UNSD ‚Äî Classification Detail. Un.org. https://unstats.un.org/unsd/classifications/Family/Detail/2
- GeeksforGeeks. (2020b, September 28). GREATEST() function in MySQL. GeeksforGeeks. https://www.geeksforgeeks.org/greatest-function-in-mysql/
- How, C. (2023). YOY Calculation: How to Calculate Yea-Over-Year Growth | PopSQL. Popsql.com. https://popsql.com/blog/yoy-calculation

PDF for link 4 can be found by searching (ISIC Rev 3.1) and clicking the first link titled UNSD